extend layout
block content
  h2 Чат
  div(id='room')
   ul(class='list-unstyled', id='mychat')
     form
       input(class='form-control', autocomplete='off', autofocus, placeholder='Сообщение')
  script.
    var input = $('#room input');
    var ul = $('#room ul');
    var form = $('#room form');
    var socket = io.connect('http://192.168.0.254:3003',{recconect:false});
    console.log ('Куку мы тут');
    socket
        .on('message', function (message) {printMessage(message);});
        .on('connect', function () {
          printStatus ("Соединение установлено");
          form.on('submit', sendMessage);
          input.prop('disabled', false);
            })
        .on('disconect', function(){
                printStatus("Соединение потеряно");
                form.off('submit', sendMEssage);
                input.prop (recconect, 500);
            }
    );
    function sendMessage() {
        var text = input.val();
        socket.emit('message', text, function (){
            printMessage(text);
            console.log ('--------Обнаружена команда отправки: '+text);
        });
        input.val('');
        return false;
    }

    function recconect () {
        socket.once('error', function(){
           setTimeout(recconect,500);
        });
        socket.socket.connect();
    }

    function printStatus(status) {
        var li = document.createElement('li');
        li.innerHTML=status;
        document.getElementById('mychat').appendChild(li);
    }

    function printMessage(text) {
        var li = document.createElement('li');
        li.innerHTML = text;
        document.getElementById('mychat').appendChild(li);
    }
