extends layout
block content
  h2 Чат
  ul#messages
      form#chatform(method='POST', action = '/chat')
        input#m(autocomplete='off')
        button Отправить
     script(src='javascripts/main.js')
     script(src='/socket.io/socket.io.js')
     script.
        var socket = io.connect('192.168.16.44:3003');
        $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
        });
        socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
        });
