extends layout
block content
  h2#h2gallery Галерея
  .div-galary
      ul.ul-galary
        li
         a(href='#')
          //img(src='media/galary/img1.jpeg', alt='', width='158', height='139')
          span.gallery
           em Картинка 1
        li
         a(href='#')
          //img(src='media/galary/img2.jpeg', alt='', width='158', height='139')
          span.gallery
           em Картинка 2
        li
         a(href='#')
          //img(src='media/galary/img3.jpeg', alt='', width='158', height='139')
          span.gallery
           em Картинка 3			